LOCATE COMP "led" SITE "P11";
IOBUF PORT "led" OPENDRAIN=ON IO_TYPE=LVCMOS33;

LOCATE COMP "clk_25mhz" SITE "P6";
IOBUF PORT "clk_25mhz" IO_TYPE=LVCMOS33;

LOCATE COMP "btn_user" SITE "M13";
IOBUF PORT "btn_user" IO_TYPE=LVCMOS33;


LOCATE COMP "hub75_j5_r0"  SITE "M11"; # J5
LOCATE COMP "hub75_j5_g0"  SITE "N11";
LOCATE COMP "hub75_j5_b0"  SITE "P12";
LOCATE COMP "hub75_j5_r1"  SITE "K15";
LOCATE COMP "hub75_j5_g1"  SITE "N12";
LOCATE COMP "hub75_j5_b1"  SITE "L16";
LOCATE COMP "hub75_j6_r0"  SITE "K16"; # J6
LOCATE COMP "hub75_j6_g0"  SITE "J15";
LOCATE COMP "hub75_j6_b0"  SITE "J16";
LOCATE COMP "hub75_j6_r1"  SITE "J12";
LOCATE COMP "hub75_j6_g1"  SITE "H15";
LOCATE COMP "hub75_j6_b1"  SITE "G16";

LOCATE COMP "hub75_a"      SITE "L2";
LOCATE COMP "hub75_b"      SITE "K1";
LOCATE COMP "hub75_c"      SITE "J5";
LOCATE COMP "hub75_d"      SITE "K2";
LOCATE COMP "hub75_e"      SITE "F15";
LOCATE COMP "hub75_clk"    SITE "B16";
LOCATE COMP "hub75_lat"    SITE "J14";
LOCATE COMP "hub75_oe"     SITE "F12";
